.header {
    max-width: calc(100px * 4 + 24px * 3);
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.game_status {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;

    max-width: calc(100px * 4 + 24px * 3 - 16px * 2 - 1px * 2);
    margin: 8px auto;
    padding: 16px;
    border-radius: 0.25rem;
    border-width: 1px;
    border-style: solid;

    display: flex;
    justify-content: space-between;
}

.cards {
    width: calc(100px * 4 + 24px * 3);
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}