.card {
  width: 120px;
  height: 120px;
  position: relative;
  perspective: 200px;

  background-color: transparent;
  border: 1px solid #06c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__front,
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: 1s;
}

.card__front {
  background: green;
}

.card__back {
  background: red;
  transform: rotateY(180deg);
}

.card[data-is-rotate="true"] .card__front {
  transform: rotateY(180deg);
}

.card[data-is-rotate="true"] .card__back {
  transform: rotateY(360deg);
}

.card__back {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card[data-card-id="1"] .card__back {
  background-image: url("./../assets/pokemon/1.png");
}

.card[data-card-id="2"] .card__back {
  background-image: url("./../assets/pokemon/4.png");
}

.card[data-card-id="3"] .card__back {
  background-image: url("./../assets/pokemon/7.png");
}

.card[data-card-id="4"] .card__back {
  background-image: url("./../assets/pokemon/16.png");
}

.card[data-card-id="5"] .card__back {
  background-image: url("./../assets/pokemon/25.png");
}

.card[data-card-id="6"] .card__back {
  background-image: url("./../assets/pokemon/40.png");
}

.card[data-card-id="7"] .card__back {
  background-image: url("./../assets/pokemon/41.png");
}

.card[data-card-id="8"] .card__back {
  background-image: url("./../assets/pokemon/271.png");
}