/* cards */

.header {
  max-width: calc(100px * 4 + 24px * 3);
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

.game_status {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;

  max-width: calc(100px * 4 + 24px * 3 - 16px * 2 - 1px * 2);
  margin: 8px auto;
  padding: 16px;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;

  display: flex;
  justify-content: space-between;
}

.cards {
  width: calc(100px * 4 + 24px * 3);
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

/* end cards */

/* card */

.card {
  width: 100px;
  height: 100px;
  position: relative;
  perspective: 200px;

  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__front,
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: 1s;

  border: 1px solid #fff3cd;
  border-radius: 4px;
  background-color: #ffecb5;
  color: #664d03;
}

.card__back {
  transform: rotateY(180deg);
}

.card[data-is-rotate="true"] .card__front {
  transform: rotateY(180deg);
}

.card[data-is-rotate="true"] .card__back {
  transform: rotateY(360deg);
}

.card__back {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card[data-card-id="1"] .card__back {
  background-image: url("./../assets/pokemon/1.png");
}

.card[data-card-id="2"] .card__back {
  background-image: url("./../assets/pokemon/4.png");
}

.card[data-card-id="3"] .card__back {
  background-image: url("./../assets/pokemon/7.png");
}

.card[data-card-id="4"] .card__back {
  background-image: url("./../assets/pokemon/16.png");
}

.card[data-card-id="5"] .card__back {
  background-image: url("./../assets/pokemon/25.png");
}

.card[data-card-id="6"] .card__back {
  background-image: url("./../assets/pokemon/40.png");
}

.card[data-card-id="7"] .card__back {
  background-image: url("./../assets/pokemon/41.png");
}

.card[data-card-id="8"] .card__back {
  background-image: url("./../assets/pokemon/271.png");
}

/* end card */

/* modal */

body[data-no-scroll-on-open-modal="true"] {
  overflow: hidden;
}

.modal[open] {
  display: flex;
}

.modal {
  background-color: transparent;
  border: none;
  margin: auto;
  padding: 0;

  z-index: 10;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: none;
  justify-content: center;
  align-items: center;
}

.modal__overlay {
  background: #29292999;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal__wrapper {
  z-index: 12;
  position: relative;
}

.modal__body {
  overflow-y: auto;
  padding: 16px;
  background-color: white;

  position: relative;
}

.modal__close_button {
  position: absolute;
  top: 0;
  right: 0;

  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;

  background-color: red;
  color: white;
  border: none;
}

/* end modal */

.top10__wrapper table tr td {
  border: 1px solid black;
}
